<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   
</head>
<body>
    REGISTRO
    <a href="/books/auth/authSocial">Authenticate with Google</a>
    <form action="/books/auth/registro" method="post">
        <label for="POST-name">emai:</label>
        <input id="POST-name" type="text" name="email">
        <label for="POST-name">password:</label>
        <input id="POST-pas" type="text" name="password">
        <label for="POST-name">nombre:</label>
        <input id="POST-pas" type="text" name="firstName">
        lastName
        <input id="POST-pas" type="text" name="lastName">
        phone
        <input id="POST-pas" type="text" name="phone">
        <input type="submit" value="Save">
      </form>
</body>
</html>